*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



div{
  min-height: 900vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  color: white;
  background: radial-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.5),rgba(0,0,0,0.9) ,rgba(0,0,0,0.5),rgba(0,0,0,0.1)),url(./images/profilPic5.jpg) center/cover no-repeat fixed;
}
h1{
  position: relative;
  top: 20px;
}
