*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.nav{
  height: 40px;
  background: rgb(185, 185, 213);
  border: 2px solid yellow;
}

a{
  padding:  10px 6%;
  margin-left: 10px;
  text-decoration: none;
  /* text-align: center; */
  display: inline-block;
  background: red;
}