*{
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  /* background: #bbbed5; */
  /* color: azure; */
}

nav{
  border: 2px #FFF4C3 solid;
  background: rgb(193, 177, 177);
  height: 60px;  
  margin-top: 20px;
  border-radius: 20px;
}

nav img{
  border: 2px solid black;
  border-radius: 50%;
  margin: 8px 0px 8px 20px;
  float: left;
}

nav ul{
  float: right;
  margin: 16px 10px 13px 0px;
  /* border: 2px rgb(106, 106, 144) solid; */
  /* background-color: rgb(159, 115, 115); */
  /* border-radius: 20px; */
}

nav ul li{
  display: inline;
  padding: 0px 12px;
  /* background-color: rgb(159, 115, 115); */
}

nav ul li a{
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  /* background-color: rgb(159, 115, 115); */
}

#search {
  float: right;
  border: 2px rgb(35, 4, 4) solid;
  margin: 15px 0px 15px 2px;
  padding: 4px;
  font-size: 14px;
  color: blue;
  font-size: bold;
  border-radius: 20px;
  width: 200px;
}

#btn{
  float: right;
  border: 2px rgb(35, 4, 4) solid;
  margin: 15px 15px 15px 3px;
  padding: 4px;
  font-size: 14px;
  color: blue;
  font-size: bold;
  border-radius: 20px;
  width: 80px;
}



.container
{
/* border: 2px green dashed; */
display: inline-block;
margin: 10px auto;
box-sizing: border-box;
width: 100%;
  background: #bbbed5;
  color: azure;
}


.container h1 {
    /* border: 2px green solid; */
    /* display: inline-block; */
    /* width: 150px; */
    padding: 6px;
    margin: 10px auto;
    text-align: center;
    
}
.container .colligues{
  /* border: 2px red solid; */
  float: left;
  display: inline-block;
  width: 33%;

}
.container .colligues img{
  height: 400px;
  width: 267px;
  /* margin: auto; */
  display: block;
  margin: auto;
  border: 3px #FFF4C3 solid;
  
}

.container .colligues h3{
  /* text-align: center; */
  display: inline-block;
  width: 170px;
  margin: 5px 13%;
  color: #9D012D;
  font-size: 25px;
  /* font-weight: bolder; */
  /* border: 2px red solid; */
}

.container .colligues p {
    /* text-align: center; */
    display: inline-block;
    width: 256px;
    margin: 5px 0px 0px 13%;
    color: black;
    text-align: initial;
    /* font-size: 25px; */
    /* font-weight: bolder; */
    /* border: 2px red solid; */
}
