*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  background: rgb(216, 166, 166);
}

h1{
  text-align: center;
  color: blue;
}

.linear{
  height: 1000px;
  border: 2px solid red;
  background: linear-gradient(red,white,green);
  text-align: center;
}

.main{
  width: 200px;
  text-align: center;
  display: inline-block;
  border: 1px yellow solid;
}
/* .third{
  width: 100%;
  margin-top: 5px;
} */

.main{
  position: sticky;
  top: 30px;
  right: 0px;
  /* margin: 0px 1%; */
}